body, table, div, p, dl, .title, table.directory {
  font-family: "Noto Sans", Roboto, sans-serif;
}

#projectname
{
  font-family: "Noto Sans", Roboto, sans-serif;
}

code {
  font-family: "Ubuntu Mono", monospace;
  color: black;
  background-color: LightGrey;
  border-radius: .2em;
  padding-left: .2em;
  padding-right: .2em;
}

code {
}

.memdoc, .memproto {
  box-shadow: none;
  background-image: none;
}

.memproto {
  text-shadow: none;
}

.memtitle {
  background-image: none;
}
