code {
  background-color: LightGrey;
  color: black;
  border-radius: .2em;
  padding-left: .2em;
  padding-right: .2em;
}

code {
  font-family: "Ubuntu Mono", monospace;
}

td.paramname, td.memItemLeft, td.memItemRight, table.memname {
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold;
}
